

.formula_list{
    position: fixed;
    top: 60px;
    left: 10px;

    .f-item{
        height: 28px;

        input{
            float: left;
            margin-top: 3px;
        }

        .content{
            margin-left: 20px;
        }
    }
}