

$designWidth : 750;

@function px2rem( $px ){
	@return $px*320/$designWidth/20 + rem;
}


html,body{
    height: 100%;
}

ul{
    margin: 0 ;
    padding: 0;
}

li {
    list-style: none;
}


#mainCanvas{
    width: 100%;height: 100%;
}

#input-panel{
    height: 0;
}

#input-panel input{
    display: block;
    width: 100%;
    padding: 4px 8px 4px 50px;
    height: 28px;
}

#input-panel  .l-func{
    position: absolute;
    font-size: 14px;
    top: 12px;
    left: 5px;
    z-index: 1;
}

.formula-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*帮助面板*/
.hide{
    display: none !important;
}

.help{
    position: fixed;
    top: 50%;
    left: 5%;
    color: #666;background: #FFF;
    padding: 6px 10px;width: 90%; 
    font: 12px "Microsoft YaHei";
    box-sizing: border-box;

    ul{
        padding-left: 12px;
    }
}

/*可选函数按钮面板*/
.clearfix:after{
    content: '';
    clear: both;
    display: block;
}

.keyboard-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .menu-row{
        height: 44px;
        width: 100%;
        padding: 0 10px;
        background: #FFF;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;


        li{
            /*-webkit-box-flex: 1 ;*/
            /*flex: 1 ;*/
            position: relative;
            width: 28px;
            height: 28px;
            padding: 8px;

            a{
                position: absolute;
                top: 50%;
                margin-top: -14px;
                left: 50%;
                margin-left: -14px;
                display: block;
                width: 28px;
                height: 28px;
                background-size: cover;
            }
        }
        
        /*fn*/
        .k-fn{
            a{
                background-image: url(images/fn.svg);
            }    
        }

        /*键盘帮助*/
        .k-help{
            .i-help{
                background-image: url(images/question.svg);
            }
        }

        /*收起键盘*/
        .k-back{
            a{
                background-image: url(images/down_arrow.svg);
            }
        }
    }

}


.func-btns{  
    display: -webkit-box;
    display: flex;

    padding: 5px 0 0;
    background: #ccd9e2;

    .flex-item{
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.func-btns .l-operators{
    margin: 0 5px 5px;
    border: 1px solid #DDD;
    border-radius: 3px;
    flex-basis: 15%;
    background: #FFF;

    .i-t {
        display: block;

        a{
            display: block;
            margin: 4px 5px;
            color: #222;
            line-height: 28px;
            text-align: center;
            border-bottom: 1px solid #DDD;
        }
    }

    .i-t:last-child a{
        border-bottom: none;
    }
}

.func-btns .r-keys{
    flex-basis: 85%;
    
    .i-t {
        width: 25%;
        float: left;
        box-sizing: border-box;

        a{
            display: block;
            border: 1px solid #DDD;
            margin: 0 1px 1px 0;
            background: #fff;
            text-align: center;border-radius: 3px;
            text-decoration: none;color: #222;
            line-height: 40px;
        }
    }
} 


/*虚拟input*/
.vir-input{
    position: relative;
    width: 100%;
    padding: 0 8px 0 40px;
    height: 36px;
    background: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box;

    .v-cursor{
        position: absolute;
        left: 40px;
        top: 50%;
        display: inline-block;
        border-left: 1px solid #333;
        height: 20px;
        width: 0;
        margin-top: -10px;
        animation: flashing 1.0s infinite;
    }

    .v-content{
        height: 100%;
        margin: 0;
        /*font-size: 14px;
        line-height: 36px;*/
        font: 14px/36px "SimSun";
    }
}

@keyframes flashing{
    0%{opacity: 0;}
    25%{opacity: 0.5;}
    50%{opacity: 1;}
    75%{opacity: 0.5;}
    100%{opacity: 0;}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}


@import "formulaList.scss";