@charset "UTF-8";
html, body {
  height: 100%; }

#mainCanvas {
  width: 100%;
  height: 100%; }

#myCoords {
  position: fixed;
  top: 46px;
  left: 0;
  color: #fff; }

#input-panel {
  height: 0; }

#formula-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#input-panel .formula-box .i-help {
  position: absolute;
  right: 5px;
  top: 6px;
  display: block;
  width: 28px;
  height: 28px;
  background: url(images/question.svg);
  background-size: cover;
  color: #f50; }

#input-panel input {
  display: block;
  width: 100%;
  padding: 4px 8px 4px 50px;
  height: 28px; }

#input-panel .l-func {
  position: absolute;
  font-size: 14px;
  top: 13px;
  left: 5px;
  z-index: 1; }

/*帮助面板*/
.hide {
  display: none !important; }

.help {
  color: #666;
  background: #FFF;
  padding: 6px 10px;
  width: 90%;
  margin: 10px auto;
  font: 12px "Microsoft YaHei"; }

.help ul {
  padding-left: 12px; }

.help li {
  list-style: none; }

/*可选函数按钮面板*/
.clearfix:after {
  content: '';
  clear: both;
  display: block; }

.func-btns {
  padding: 0;
  background: #fff;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0; }

.func-btns li {
  width: 20%;
  color: #f50;
  list-style: none;
  padding: 2px;
  box-sizing: border-box;
  float: left; }

.func-btns li a {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: 1px solid #DDD;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
  line-height: 18px; }

/*虚拟input*/
.vir-input {
  position: relative;
  width: 100%;
  padding: 0 8px 0 40px;
  height: 36px;
  background: #FFF;
  border: 1px solid #DDD; }
  .vir-input .v-cursor {
    position: absolute;
    left: 40px;
    top: 50%;
    display: inline-block;
    border-left: 1px solid #333;
    height: 20px;
    width: 0;
    margin-top: -10px;
    -webkit-animation: flashing 1.0s infinite;
    animation: flashing 1.0s infinite; }
  .vir-input .v-content {
    height: 100%;
    margin: 0;
    font: 14px/36px "sans-serif"; }

@-webkit-keyframes flashing {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

@keyframes flashing {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
