
html,body{
    height: 100%;
}

#mainCanvas{
    width: 100%;
    height: 100%;
}

#myCoords{
    position: fixed;
    top: 46px;
    left: 0;
    color: #fff;
}

#input-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#input-panel .formula-box{
    position: relative;
}

#input-panel .formula-box .i-help{
    position: absolute;
    right: 5px;
    top: 8px;
    display: block;
    width: 28px;
    height: 28px;
    background: url(images/question.svg);
    background-size: cover;
    color: #f50;
}


#input-panel input{
    display: block;
    width: 100%;
    padding: 4px 8px;
    height: 28px;
}


.hide{
    display: none;
}

.help{
    color: #f50;
}